.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



.App {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App .menu-main {
  display: flex;
  padding: 10px;
  background-color: #27292c;
}
.App .menu-main .menu-item{
  padding: 10px;
  margin: 10px;
  font-size: 17px;
  cursor: pointer;
}
.App .menu-main .menu-item:hover{
  color: #61dafb;
}
.App .menu-main .menu-item span{

}
.App .home{
  position: relative;
}
.App .menu-main{
  position: fixed;
  top: 0;
  width: 100%;
}


.home-redirect{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}